.task-card {
	text-align: left;
	background: conic-gradient(
		from 90deg at 50% 49.37%,
		rgba(37, 92, 118, 0.25) 0deg,
		rgba(93, 157, 187, 0.25) 50.26deg,
		rgba(83, 87, 89, 0.44) 219.94deg,
		rgba(176, 176, 176, 0.25) 360deg
	);
	border: 2px solid #6f6f6f;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	color: #124861;
	padding: 1rem;
	margin: 1rem 0;
}
.task-card.task-finished {
	text-align: left;
	background: conic-gradient(
		from 90deg at 50% 49.37%,
		rgba(37, 92, 118, 0.25) 0deg,
		rgba(93, 157, 187, 0.25) 50.26deg,
		rgba(42, 238, 85, 0.44) 219.94deg,
		rgba(176, 176, 176, 0.25) 360deg
	);
	/* border: 2px solid #6f6f6f;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	color: #124861;
	padding: 1rem;
	margin: 1rem 0; */
}
.task-title {
	text-transform: capitalize;
	font-weight: 600;
}
.task-checkBtn {
	/* display: none; */
}

.add-task-form {
	font-size: 1.25rem;
	font-weight: 400;
	text-align: left;
	margin-top: 5rem;
}

.tasks-sections.row {
	margin-top: 1rem;
}

.tasks-details {
	text-align: left;
}

.tasks-details > .col {
	border-radius: 0.5rem;
	margin: 0.5rem;
	padding: 0.75rem 1rem 0.25rem 1rem;
}

.total-tasks {
	background-color: #e1af197a;
	border: 0.125rem solid #e1af19;
}

.tasks-productivity {
	background-color: #b2c56d80;
	border: 0.125rem solid #b2c56d;
}

.tasks-dueDate {
	background-color: #68c78480;
	border: 0.125rem solid #68c785;
}

.tasks-attach {
	background-color: #1cc79c81;
	border: 0.125rem solid #1cc79d;
}

.taskCard-icons {
	text-align: right;
	display: none;
}
.taskCard-checkbox {
	text-align: left;
	display: none;
}

.editTask-returnIcon {
	text-align: left;
	font-size: 1.5rem;
}

.editTask-returnIcon > a {
	color: #124861;
}

.task-edit-icon {
	color: #124861;
}

.task-edit-icon:hover {
	color: #297aa0;
}

.task-edit-icon > .btn {
	background: none;
	color: #000;
	border: 0;
	margin-top: -0.5rem;
}

.deleteTask-btn.btn {
	background: none;
	color: #ad0d0d;
	padding: 0;
	border: 0;
	margin: 0 0 0.25rem 0.75rem;
}

.deleteTask-btn.btn:focus {
	background: none;
	color: #ad0d0d;
	box-shadow: none;
}

.deleteTask-btn.btn:hover {
	background: none;
	color: #b96e6e;
	border: 0;
	/* margin-top: -0.5rem; */
}

.modal-footer > .deleteTask-btn.btn {
	background: #ad0d0d49;
	color: #bd2929;
	padding: 0.4rem 0.8rem;
	border: 1px solid #bd2929;
	margin: 0 0 0.25rem 0.75rem;
}

.modal-footer > .customSecondary-btn {
	background: #979797;
	color: #ffffff;
	padding: 0.4rem 0.8rem;
	border: 1px solid #000000;
	margin: 0 0 0.25rem 0.75rem;
}

.modal-footer > .customSecondary-btn:hover {
	background: #686868;
	color: #ffffff;
	padding: 0.4rem 0.8rem;
	border: 1px solid #000000;
	margin: 0 0 0.25rem 0.75rem;
}

.modal-footer > .deleteTask-btn.btn:hover {
	background: #ad0d0d;
	color: #eee4e4;
	padding: 0.4rem 0.8rem;
	border: 1px solid #bd2929;
	margin: 0 0 0.25rem 0.75rem;
}

.tasks-status-badge {
	background-color: #124861;
	color: #ffffff;
	padding: 0.25rem 0.5rem;
	border-radius: 1rem;
}

.dueTime-div {
	display: inline-block;
	font-size: 0.85rem;
	/* background-color: #1cc79cbb;
	padding: 0.25rem; */
}
.dueTime-div > svg {
	margin: 0 0.25rem;
}

.personal-icon,
.work-icon,
.healthcare-icon,
.read-icon,
.games-icon {
	position: relative;
	top: 0.1rem;
	right: 0.25rem;
	height: 15px;
	width: 15px;
	background: none;
	border-radius: 50%;
	display: inline-block;
}
.personal-icon {
	border: 3px solid #c58b1e;
}
.work-icon {
	border: 3px solid #8a0b0b;
}
.healthcare-icon {
	border: 3px solid #0f8a0b;
}
.read-icon {
	border: 3px solid #0b8a8a;
}
.games-icon {
	border: 3px solid #2d0b8a;
}

.btn.category-btn {
	background: none;
	border: none;
	color: #124861;
	text-transform: capitalize;
}

.btn.category-btn:hover {
	background: #1248613f;
	border: none;
	color: #124861;
}
.btn.category-btn.active {
	background: none;
	border: none;
	color: #124861;
	box-shadow: none;
	border-bottom: 2px solid #124861;
}
.btn.category-btn.active:focus {
	background: #12486171;
	border: none;
	color: #325a6d;
	border-bottom: 2px solid #124861;
	box-shadow: none;
}
.btn.category-btn:focus {
	background: none;
	border: none;
	color: #446472;
	box-shadow: none;
	border-bottom: 2px solid #124861;
}

.task-input.form-control {
	background: linear-gradient(
		320deg,
		rgba(255, 255, 255, 0) 25.24%,
		rgba(255, 255, 255, 0.5) 52.21%,
		#ffffff 80.33%
	);
	box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.25);
}
.task-input.form-control:focus {
	animation: gradientCircle 1s infinite linear;
}

@keyframes gradientCircle {
	0% {
		background: linear-gradient(
			0,
			rgba(255, 255, 255, 0) 25.24%,
			rgba(255, 255, 255, 0.5) 52.21%,
			#ffffff 80.33%
		);
	}
	10% {
		background: linear-gradient(
			30,
			rgba(255, 255, 255, 0) 25.24%,
			rgba(255, 255, 255, 0.5) 52.21%,
			#ffffff 80.33%
		);
	}
	20% {
		background: linear-gradient(
			60,
			rgba(255, 255, 255, 0) 25.24%,
			rgba(255, 255, 255, 0.5) 52.21%,
			#ffffff 80.33%
		);
	}
	30% {
		background: linear-gradient(
			90,
			rgba(255, 255, 255, 0) 25.24%,
			rgba(255, 255, 255, 0.5) 52.21%,
			#ffffff 80.33%
		);
	}
	40% {
		background: linear-gradient(
			120,
			rgba(255, 255, 255, 0) 25.24%,
			rgba(255, 255, 255, 0.5) 52.21%,
			#ffffff 80.33%
		);
	}
	50% {
		background: linear-gradient(
			150,
			rgba(255, 255, 255, 0) 25.24%,
			rgba(255, 255, 255, 0.5) 52.21%,
			#ffffff 80.33%
		);
	}
	60% {
		background: linear-gradient(
			180,
			rgba(255, 255, 255, 0) 25.24%,
			rgba(255, 255, 255, 0.5) 52.21%,
			#ffffff 80.33%
		);
	}
	70% {
		background: linear-gradient(
			210,
			rgba(255, 255, 255, 0) 25.24%,
			rgba(255, 255, 255, 0.5) 52.21%,
			#ffffff 80.33%
		);
	}
	80% {
		background: linear-gradient(
			240,
			rgba(255, 255, 255, 0) 25.24%,
			rgba(255, 255, 255, 0.5) 52.21%,
			#ffffff 80.33%
		);
	}
	90% {
		background: linear-gradient(
			270,
			rgba(255, 255, 255, 0) 25.24%,
			rgba(255, 255, 255, 0.5) 52.21%,
			#ffffff 80.33%
		);
	}
	100% {
		background: linear-gradient(
			300,
			rgba(255, 255, 255, 0) 25.24%,
			rgba(255, 255, 255, 0.5) 52.21%,
			#ffffff 80.33%
		);
	}
}
