.row > .navbar-col {
	padding-left: 0;
	padding-right: 0;
}
.navbar-col {
	display: flex;
}
.navbar-col > .side-navbar {
	flex-grow: 1;
}

.side-navbar {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	background-color: var(--baseColor);
}

.side-navbar > .nav {
	flex: 1;
	justify-content: space-evenly;
}

.nav-section {
	padding-top: 10rem;
	padding-bottom: 20rem;
	text-transform: uppercase;
	position: fixed;
	width: 25%;
}

.nav-icon {
	margin: 0.5rem;
	height: 1.25rem;
	width: 1.25rem;
}

.nav > a {
	color: #e6ebed;
	text-decoration: none;
	padding: 1rem;
}

.nav > a:hover {
	color: #e6ebed;
	background: linear-gradient(
		90deg,
		rgba(127, 204, 240, 0.25) 50%,
		rgba(127, 204, 240, 0.5) 78%
	);
}

.nav > a.active {
	color: #e6ebed;
	background: linear-gradient(
		90deg,
		rgba(127, 204, 240, 0.25) 50%,
		rgba(127, 204, 240, 0.5) 78%
	);
	border-right: 0.4rem solid var(--subColor);
}
