#root {
	/* 	min-height: 100vh; */
	/* min-width: 100%; */
}

.main-content {
	width: 100%;
}
.main-content > .row {
	min-height: 100vh;
}

.App {
	text-align: center;
	color: var(--mainTxtColor);
	margin-top: 1rem;
}

.task-checkBtn .form-check-input:checked {
	background-color: var(--baseColor);
	border-color: var(--baseColor);
}

.task-checkBtn .form-check-input:hover {
	background-color: var(--subColor);
	border-color: var(--subColor);
}

.task-checkBtn .form-check-input:focus {
	box-shadow: none;
}

.main-page {
	background-color: var(--mainBgColor);
}

.text-header {
	color: var(--baseColor);
}

.customBg-btn.btn {
	background-color: var(--baseColor);
	color: #e6ebed;
	border: 0;
}

.customBg-btn.btn:hover {
	background-color: var(--subColor);
	color: var(--baseColor);
}

.customBg-btn.btn:focus {
	background-color: var(--subColor);
	color: var(--baseColor);
	box-shadow: none;
}

.customBg-link {
	display: inline-block;
	background-color: var(--baseColor);
	color: #e6ebed;
	text-decoration: none;
	padding: 0.375rem 0.75rem;
	border: 0;
	border-radius: 0.25rem;
	transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.customBg-link:hover {
	background-color: var(--subColor);
	color: var(--baseColor);
}

.customBg-link:focus {
	background-color: var(--subColor);
	color: var(--baseColor);
	box-shadow: none;
}

.customBg-card {
	background: conic-gradient(
		from 90deg at 50% 49.37%,
		#255c7640 0deg,
		#5d9dbb40 50.26deg,
		#53575970 219.94deg,
		#b0b0b040 360deg
	);
	border: 2px solid #6f6f6f;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	color: var(--baseColor);
	padding: 1rem;
	margin: 1rem 0;
}

.taskCard-icons > .react-reveal {
	display: inline-block;
}
.taskCard-icons > .animate__animated {
	display: inline-block;
}
.taskCard-checkbox > .react-reveal {
	display: inline-block;
}
.taskCard-checkbox > .animate__animated {
	display: inline-block;
}
