.dashboard-container {
	padding: 4rem 0;
}

.tasks-timeframe.btn {
	background: none;
	border: none;
	color: #124861;
}

.tasks-timeframe.btn:hover {
	background: none;
	color: #7fccf0;
}

.dashboard-left.col {
	text-align: left;
	align-content: flex-start;
	padding: 0;
}

.dashboard-left > h5 {
	padding-left: 0.75rem;
}

.dashboard-tasks-section > h5 {
	padding-left: 0.75rem;
}

.dashboard-tasks-section.container {
	padding: 3rem 0 0 0;
}

.dashboard-search.form-control {
	margin: 2.25rem 0 0 0.75rem;
	background: #646566;
	color: #e6ebed;
	border: 0;
	border-radius: 0.75rem;
	padding: 1rem;
}

.dashboard-search.form-control::placeholder {
	color: #e6ebed;
}

.task-card {
	background: rgba(255, 255, 255, 0.75);
	box-shadow: 0 0.125rem 0.25rem 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);

	padding: 1rem 0;
	margin: 1rem 0;
}

.avatar-pic {
	width: 4rem;
	height: 4rem;
	border-radius: 5rem;
}

.profile-info {
	text-align: left;
}

.profile-info > p {
	margin: 0.5rem 0 0.25rem 0;
}

.profie-icons {
	text-align: right;
}

.profie-icons > button {
	margin: 2rem 0 0 0;
}

.profile-btn.btn {
	background: none;
	border: 0;
	color: #124861;
}

.profile-btn.btn:hover {
	background: none;
	border: 0;
	color: #6ec3ea;
}

.dashboard-project-tracker.container {
	background: rgba(255, 255, 255, 0.85);
	box-shadow: 0 0.125rem 0.25rem 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	text-align: left;
	padding: 0 1rem 0 1rem;
	margin: 2rem 0 2rem 1.5rem;
}

.dashboard-schedule {
	margin-top: 4rem;
	text-align: left;
}

.dashboard-fulldate {
	font-size: 1.25rem;
}

.dashboard-day {
	font-weight: 700;
	font-size: 1.5rem;
}

.dashboard-addTask-col {
	text-align: right;
}

.dashboard-addTask.btn {
	background-color: #124861;
	border: 0;
	padding: 0.75rem 1.5rem 0.75rem 1.5rem;
	border-radius: 1rem;
}

.dashboard-addTask.btn:hover {
	background-color: #7fccf0;
	color: #124861;
}

.projects-tracker-btn {
	text-align: right;
}
.projects-tracker-btn > button {
	margin: 1.125rem 0 0 0;
	background-color: #124861;
	color: #e6ebed;
	border: 0;
	padding: 0.5rem 1rem 0.7rem 1rem;
	font-size: 1.25rem;
}
.projects-tracker-btn > button.btn:hover {
	background-color: #6ec3ea;
	color: #124861;
}
