.task-card {
	text-align: left;
}

.add-task-form {
	font-size: 1.25rem;
	font-weight: 400;
	text-align: left;
	margin-top: 5rem;
}

.tasks-sections.row {
	margin-top: 1rem;
}

.tasks-details {
	text-align: left;
}

.tasks-details > .col {
	border-radius: 0.5rem;
	margin: 0.5rem;
	padding: 0.75rem 1rem 0.25rem 1rem;
}

.total-tasks {
	background-color: #e1af197a;
	border: 0.125rem solid #e1af19;
}

.tasks-productivity {
	background-color: #b2c56d80;
	border: 0.125rem solid #b2c56d;
}

.tasks-dueDate {
	background-color: #68c78480;
	border: 0.125rem solid #68c785;
}

.tasks-attach {
	background-color: #1cc79c81;
	border: 0.125rem solid #1cc79d;
}

.task-edit-icon {
	text-align: right;
}

.task-edit-icon > a {
	color: #124861;
}

.task-edit-icon > a:hover {
	color: #6ec3ea;
}

.task-edit-icon > .btn {
	background: none;
	color: #000;
	border: 0;
	margin-top: -0.5rem;
}

.tasks-status-badge {
	background-color: #124861;
	color: #ffffff;
	padding: 0.25rem 0.5rem;
	border-radius: 1rem;
}

.dueTime-div {
	display: inline-block;
	font-size: 0.85rem;
	/* background-color: #1cc79cbb;
	padding: 0.25rem; */
}
.dueTime-div > svg {
	margin: 0 0.25rem;
}
