.task-card {
	text-align: left;
}

.add-task-form {
	font-size: 1.25rem;
	font-weight: 400;
	text-align: left;
	margin-top: 5rem;
}

.tasks-sections.row {
	margin-top: 1rem;
}

.tasks-details {
	text-align: left;
}

.tasks-details > .col {
	border-radius: 0.5rem;
	margin: 0.5rem;
	padding: 0.75rem 1rem 0.25rem 1rem;
}

.total-tasks {
	background-color: #e1af19;
	/* background: linear-gradient(129deg, #524730 00%, #dca52d 46%, #e1af19 100%);
	transform: skew(20deg, 0deg); */
}

.tasks-productivity {
	background-color: #b2c56d;
}

.tasks-dueDate {
	background-color: #68c785;
}

.tasks-attach {
	background-color: #1cc79d;
}

.task-edit-icon {
	text-align: right;
}

.task-edit-icon > .btn {
	background: none;
	color: #000;
	border: 0;
	margin-top: -0.5rem;
}

.tasks-status-badge {
	background-color: #6c63ff;
	color: #ffffff;
	padding: 0.25rem 0.5rem;
	border-radius: 1rem;
}
